.create_post_image{
    width: 100%;
    border-radius: 10px;
    align-self: center;
    margin: 10px 0;
}
.create_post_upload
{
    display: none;
}
label{
    cursor: pointer;
    background-color: #08fcbd;
    padding: 20px;
    border-radius: 10px;
    color: white;
    font-weight: 600;
    display: flex;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
label:hover{
    background-color: black;
    color: #08fcbd;
}
.image_upload_container
{
    display: flex;
    justify-content: center;
    padding: 0;
}